.columns {
	display: flex;
	align-content: row;
	width: 100%;


	

}


.leftside {
	background-color: #D3D3D3;
	width: 10%;
	height:1000px;
	font-family: 'Capriola', sans-serif;
	position: fixed;
	
	
	
}

.rightside {
	background-color: #D3D3D3;
	width: 10%;
	height:1000px;
	font-family: 'Capriola', sans-serif;
	position: fixed;
	left: 90%;



	
}

nav	{
	display: flex;
	justify-content: space-around;
}

a:visited {
    color: black;
}

a:hover {
	color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 30;
    text-align: center;
    justify-content: space-between;
    text-decoration: underline;
}

.middle {
	height: 300px;
	width: 100%;
	background-image: url("../images/nottingham2.jpg");
	background-size: cover;
    background-attachment: fixed;


}

.middle2 {
	height: 2000px;
	width: 40%;
	background-color: black;
	margin: auto;
	align-content:column;
}

div.img {
    margin: 5px;
    border: 1px solid 	#FFFFFF;
    float: left;
    width: 180px;
    justify-content: center;
}

div.img:hover {
    border: 1px solid 	#FFFFFF;
}

div.img img {
    width: 100%;
    height: auto;
    margin: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
}	
	



.middle-container {
	align-content: column;
	width: 100%;
	

}